.final-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    .score-container {
        background-color: $background;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        padding: 3em;
        gap: 3em;
        border-radius: 8px;
        h2 {
            color: $principal;
            font-size: 2em;
        }
    }
}